<div>
  <div class="side-profile flex gap-3 my-4 items-center">
    <div class="w-[60px] h-[60px] bg-white rounded-full overflow-hidden">
      <img id="" src="/img/user-img.png" alt="profile-picture" class="w-full h-full object-cover">
    </div>
    <div class="">
      <p class="font-bold text-sm text-white">Festivo</p>
      <p class="font-normal text-sm text-white">Mega Admin</p>
    </div>
  </div>
  <div class="side-list flex flex-col mt-10 text-sm relative">
    <a id="side-sekolah" href="/festivo/schools" class="py-3 px-5 text-white">Sekolah</a>
    <a id="side-module" href="/festivo/modules" class="py-3 px-5 text-white">Module</a>
    <a id="side-superadmin" href="/festivo/superadmin" class="py-3 px-5 text-white">Kelola Super Admin</a>
  </div>
</div>