<%- include('./layouts/header'); -%>
<body>
  <!-- NAV -->
  <%- include('./layouts/MegaNavbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/MegaSidebar'); -%>
    <section id="school-edit" class="min-h-screen bg-white rounded-tl-3xl p-8">
      <div class="flex justify-between">
            <p class="text-main font-bold text-2xl">Mengubah Data Sekolah <span class="text-red-500 font-medium text-xs">* harus diisi</span></p>
            <form id="form-update-school-status" class="mt-10">
                <label class="relative inline-flex items-center cursor-pointer">
                    <input id="school-status" name="school_active" type="checkbox" value="" class="post-status sr-only peer">
                    <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                    <span id="active-school-status" class="ml-2 text-red-500 font-second text-sm font-semibold">IN-ACTIVE</span>
                </label>
            </form>
      </div>

      <form id="form-school-edit" class="">
        <div id="bg-table-school" class="h-max shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)] w-full mt-8 rounded-3xl p-8 bg-main">
            <div class="flex flex-col gap-4">
                <label class="block flex flex-col gap-2">
                    <span class="text-white font-bold tracking-[1.4px] text-sm">Nama Sekolah <span class="text-red-500 font-medium text-xs">*</span></span>
                    <!-- Using form state modifiers, the classes can be identical for every input -->
                    <input required type="text" placeholder="SMA Festivo Jaya" name="school_name" class="font-normal block border-0 w-full px-3 py-[10px] bg-white rounded-lg text-sm
                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                    "/>
                </label>
                <div class="block flex flex-col gap-2 mt-5">
                    <p class="text-white font-bold tracking-[1.4px] text-sm">Berlangganan di Module</p>
                    <!-- Using form state modifiers, the classes can be identical for every input -->
                    <div id="module-assign" class="bg-[#FEFEFE]/10 rounded-2xl p-4 flex gap-4 overflow-x-scroll max-w-[1030px]">
                        <p class="text-sm text-white/90 font-medium">Belum ada module terdaftar</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-end mt-7">
            <button type="button" id="button-selesai" class="py-2 px-10 bg-main text-white text-sm rounded-full ms-auto hover:bg-main/80 duration-200">Selesai</button>
        </div>

        <!-- POPUP -->

        <section id="popup" class="hidden bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center">

            <div class="hidden delete-popup w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl">
                <img src="/img/warning-alt.png" alt="" width="120px">
                <p class="text-sm my-3">Apakah anda yakin ingin membuat data tersebut ?</p>
                <div class="mt-4 flex gap-4">
                    <button type="button" id="button-batal" class="py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
                    <button type="submit" class="py-1.5 px-8 bg-main text-white rounded-full text-sm">Selesai</button>
                </div>
            </div>

            <div id="confirm-popup" class="w-[30%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
                <img src="/img/check.png" width="70" alt="">
                <p class="text-sm">Data berhasil ditambahkan</p>
                <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
            </div>

        </section>
      </form>
    </section>




    <section id="popup-module" class="hidden bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center">
        <div id="popup-activate" class="hidden w-[360px] bg-white rounded-lg mx-auto p-4">
            <form id="form-activate-module">
                <p class="text-main font-bold text-xl mb-5">Aktivasi Module</p>
                <div class="grid grid-cols-2 gap-5">
                    <div class="">
                        <p class="text-main text-sm">Tanggal Mulai</p>
                        <input type="date" name="tanggal_mulai" id="" class="w-full rounded-xl bg-[#F1F1F1] text-main text-sm px-3 py-2.5 mt-1 focus:ring-main focus:outline-main focus:outline-1">
                    </div>
                    <div class="">
                        <p class="text-main text-sm">Tanggal Berakhir</p>
                        <input type="date" name="tanggal_berakhir" id="" class="w-full rounded-xl bg-[#F1F1F1] text-main text-sm px-3 py-2.5 mt-1 focus:ring-main focus:outline-main focus:outline-1">
                    </div>
                </div>
                <div class="">
                    <p class="text-main text-sm mt-5">Total Durasi</p>
                    <p id="popup-total-durasi" class="text-sm mt-1 text-[#3889E9]">-</p>
                </div>

                <div class="mt-16">
                    <button type="submit" class="py-2.5 bg-main text-white font-bold flex justify-center mt-6 w-full rounded-full">Simpan</button>
                    <button type="button" id="button-cancel" class="py-2.5 bg-white text-[#358F6C] font-bold flex justify-center mt-2 w-full rounded-full border border-main">Batal</button>
                </div>
            </form>
        </div>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/MEGA/FestivoSchool-Edit.js"></script>
