<%- include('./layouts/header'); -%>

<p class="font-bold text-center text-2xl mt-10">API Gateway</p>
<div class="grid grid-cols-3">
    <div class="m-5 p-5 rounded-lg border-2 border-slate-900 flex flex-col justify-between min-h-[150px]">
        <div class="">
            <p class="font-bold">API Muslim Raya</p>
        </div>
        <a href="/muslim-raya" class="mt-auto mt-4">
            <button class="border border-slate-900 rounded-lg px-4 py-2.5">Kunjungi Halaman</button>
        </a>
    </div>
</div>

<%- include('./layouts/footer'); -%>