<%- include('./layouts/header'); -%>

<div class="m-10">
    <p>THIS PAGE IS PROTECTED</p>
    
    <a href="/">
        <button class="border border-slate-900 rounded-lg px-4 py-2.5">Logout</button>
    </a>
</div>

<%- include('./layouts/footer'); -%>