<%- include('./layouts/header'); -%>

<a href="/api/v1/player/auth/google">
    <button class="border border-slate-900 rounded-lg px-4 py-2.5 m-10">Login with Google</button>
</a>

<%- include('./layouts/footer'); -%>